rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /wayfinder/locations {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.uid in [
          'r1cl5JhJvvURCr0nqkbUmUfsjcj1',
          'bPq70tI5T8ZfwtueCSdJwu2WGrF2',
          'WL8UxWWVfdgKlwaGmNX2c1Pl2rT2'
        ];
    }
  }
}
